In [147]:
import pandas as pd
import numpy as np
df = pd.DataFrame()
df['a'] = [-5, -4, -3, -2, -1, 0]
df['b'] = [5, 4, 3, 2, 1, 0]
df['c'] = [2, 2, 2, 2, 2, 2]
df['d'] = [-2, -2, 2, 2, 0, 0]
df.loc[:,['a','d','c']].max(axis=1)
# print df.groupby(['d']).count()
print df.iterrows()

<generator object iterrows at 0x1123c7780>

In [79]:
df.abs() #绝对值

   a  b
0  5  5
1  4  4
2  3  3
3  2  2
4  1  1
5  0  0

In [80]:
df.clip_lower(0) #小于0用0填充

   a  b
0  0  5
1  0  4
2  0  3
3  0  2
4  0  1
5  0  0

In [81]:
df.clip_upper(0) #大于0用0填充

   a  b
0 -5  0
1 -4  0
2 -3  0
3 -2  0
4 -1  0
5  0  0

In [82]:
df.compound()

a     -1
b    719
dtype: int64

In [83]:
df.count(axis=0),df.count(axis='index'),df.count(axis=1),df.count(axis='columns') #每列数量

(a    6
 b    6
 dtype: int64, a    6
 b    6
 dtype: int64, 0    2
 1    2
 2    2
 3    2
 4    2
 5    2
 dtype: int64, 0    2
 1    2
 2    2
 3    2
 4    2
 5    2
 dtype: int64)

In [84]:
df.cov()

     a    b
a  3.5 -3.5
b -3.5  3.5

In [85]:
df.cummax()

   a  b
0 -5  5
1 -4  5
2 -3  5
3 -2  5
4 -1  5
5  0  5

In [86]:
df.cummin()

   a  b
0 -5  5
1 -5  4
2 -5  3
3 -5  2
4 -5  1
5 -5  0

In [87]:
df.cumprod(axis=0)

     a    b
0   -5    5
1   20   20
2  -60   60
3  120  120
4 -120  120
5    0    0

In [88]:
df.cumprod(axis=1)

   a   b
0 -5 -25
1 -4 -16
2 -3  -9
3 -2  -4
4 -1  -1
5  0   0

In [89]:
df.describe()

              a         b
count  6.000000  6.000000
mean  -2.500000  2.500000
std    1.870829  1.870829
min   -5.000000  0.000000
25%   -3.750000  1.250000
50%   -2.500000  2.500000
75%   -1.250000  3.750000
max    0.000000  5.000000

In [90]:
df.diff(axis=0,periods=2) #纵向计算，与前第2行差值,返回新DataFrame

     a    b
0  NaN  NaN
1  NaN  NaN
2  2.0 -2.0
3  2.0 -2.0
4  2.0 -2.0
5  2.0 -2.0

In [91]:
df.diff(axis=1,periods=-1) #横向计算，与后第1列差值,返回新DataFrame

      a   b
0 -10.0 NaN
1  -8.0 NaN
2  -6.0 NaN
3  -4.0 NaN
4  -2.0 NaN
5   0.0 NaN

In [152]:
df.kurtosis(), (((df-df.mean())/df.std())**4).mean(),((df-df.mean())**4).mean()/((df-df.mean()**2).mean()**2)-3

(a   -1.200
 b   -1.200
 c    0.000
 d   -1.875
 dtype: float64, a    1.202381
 b    1.202381
 c         NaN
 d    1.041667
 dtype: float64, a   -2.807619
 b   -1.952593
 c   -3.000000
 d         inf
 dtype: float64)

In [93]:
print df.mad(axis=0),'\n', df.mad(axis=1) #sum(abs(i-mean))  returnSeries

a    1.5
b    1.5
dtype: float64
0    5.0
1    4.0
2    3.0
3    2.0
4    1.0
5    0.0
dtype: float64

In [94]:
print df.max(axis=0),'\n', df.max(axis=1)#returnSeries

a    0
b    5
dtype: int64
0    5
1    4
2    3
3    2
4    1
5    0
dtype: int64

In [95]:
print df.max(axis=0),'\n', df.max(axis=1) #returnSeries

a    0
b    5
dtype: int64
0    5
1    4
2    3
3    2
4    1
5    0
dtype: int64

In [96]:
print df.mean(axis=0),'\n', df.mean(axis=1) #returnSeries

a   -2.5
b    2.5
dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
dtype: float64

In [97]:
print df.min(axis=0),'\n', df.min(axis=1) #returnSeries

a   -5
b    0
dtype: int64
0   -5
1   -4
2   -3
3   -2
4   -1
5    0
dtype: int64

In [98]:
#df['c']=[2,2,2,2,2,2]
print df.mode(axis=0),'\n', df.mode(axis=1)

   a  b
0 -5  0
1 -4  1
2 -3  2
3 -2  3
4 -1  4
5  0  5
     0    1
0 -5.0  5.0
1 -4.0  4.0
2 -3.0  3.0
3 -2.0  2.0
4 -1.0  1.0
5  0.0  NaN

In [99]:
print df.pct_change() #负数取abs计算？

          a         b
0       NaN       NaN
1 -0.200000 -0.200000
2 -0.250000 -0.250000
3 -0.333333 -0.333333
4 -0.500000 -0.500000
5 -1.000000 -1.000000

In [100]:
print df.prod(axis=0),'\n',df.prod(axis=1)

a    0
b    0
dtype: int64
0   -25
1   -16
2    -9
3    -4
4    -1
5     0
dtype: int64

In [101]:
print df.product(axis=0),'\n',df.product(axis=1)

a    0
b    0
dtype: int64
0   -25
1   -16
2    -9
3    -4
4    -1
5     0
dtype: int64

In [107]:
#分位数
print df.quantile(q=0.9,axis=0),'\n',df.quantile(q=0.9,axis=1)

a   -0.5
b    4.5
Name: 0.9, dtype: float64
0    4.0
1    3.2
2    2.4
3    1.6
4    0.8
5    0.0
Name: 0.9, dtype: float64

In [114]:
#值小的排名在前
#first 值相同，位置靠前排名靠前
#min 值相同，排名同取最小排名
#max 值相同，排名同取最大排名
print df.rank(axis=0),'\n',df.rank(axis=1,method='min')

     a    b
0  1.0  6.0
1  2.0  5.0
2  3.0  4.0
3  4.0  3.0
4  5.0  2.0
5  6.0  1.0
     a    b
0  1.0  2.0
1  1.0  2.0
2  1.0  2.0
3  1.0  2.0
4  1.0  2.0
5  1.0  1.0

In [116]:
print df.round(2)  #保留2位小数

   a  b
0 -5  5
1 -4  4
2 -3  3
3 -2  2
4 -1  1
5  0  0

In [149]:
print df.sem(),df.std()/(6**0.5)

a    0.763763
b    0.763763
c    0.000000
d    0.730297
dtype: float64 a    0.763763
b    0.763763
c    0.000000
d    0.730297
dtype: float64

In [118]:
print df.std()

a    1.870829
b    1.870829
dtype: float64

In [119]:
print df.var()

a    3.5
b    3.5
dtype: float64

In [121]:
print df.nunique(axis=0),'\n',df.nunique(axis=1) #有多少个不同的数

a    6
b    6
dtype: int64
0    2
1    2
2    2
3    2
4    2
5    1
dtype: int64

In [125]:
print 16/(5**0.5)

7.155417528

In [128]:
df.lt(df)

       a      b
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False
5  False  False

In [129]:
df.index,df.columns,df.dtypes,df.ftypes

(RangeIndex(start=0, stop=6, step=1),
 Index([u'a', u'b'], dtype='object'),
 a    int64
 b    int64
 dtype: object,
 a    int64:dense
 b    int64:dense
 dtype: object)

In [136]:
df.size,df.shape,df.empty,df.memory_usage()

(12, (6, 2), False, '\n', Index    72
 a        48
 b        48
 dtype: int64)